.contactItem:hover,
.editItem:hover {
  background-color: lightgrey;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Roboto", sans-serif;
}
.loginForm {
  margin-top: 40px;
}
.loginForm .form-control {
  margin-bottom: 10px;
}
.loginButtons {
  margin-top: 20px;
  text-align: center;
}
.loginButtons .logInButton {
  margin-right: 20px;
}

.online::before {
  content: "";
  background-color: lightgreen;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.offline::before {
  content: "";
  background-color: red;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
