@import './styles/navBar.css';
@import './styles/home.css';
@import './styles/contacts.css';
@import './styles/contactItem.css';
@import './styles/chat.css';
@import './styles/message.css';
@import './styles/addContact.css';


::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
#root {
  height: 100%;
}
body {
  padding: 2.5rem;
  background-color:white;
  overflow: hidden;
}
@media only screen 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
  body {
    font-size: 62.5%;
    padding: 0rem;
    background-color:white;
    height:100%;
  }
}
.MainLayout {
  display: flex;
  height: 100%;
  width:100%;
}
@media only screen 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
  .MainLayout {
    display: flex;
    /* flex-direction: column-reverse; */
  }
}

.MainContainer{
  width:100%;
  height:100%;
  background-color: rgb(224, 228, 243);

}
@media only screen 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
  .MainContainer{
    height:100%;
  }
}


.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #516abb;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}