.contactItem:hover,
.editItem:hover {
  background-color: lightgrey;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Roboto", sans-serif;
}
.loginForm {
  margin-top: 40px;
}
.loginForm .form-control {
  margin-bottom: 10px;
}
.loginButtons {
  margin-top: 20px;
  text-align: center;
}
.loginButtons .logInButton {
  margin-right: 20px;
}
