
#root {
    height: 100%;
}
.nav {
    position:relative;
    display: flex;
    flex-direction: column;
    min-width:11rem;
    font-size: 1.2rem;
    font-weight: 300;
    background-color: rgb(81, 106, 187);
    height: 100%;
    color: #ffffff;
    padding-top:2rem;

    &_icon {
        &:hover {
            background-color: none;
        }
    }

    &_links{
        height:20rem;
        display: flex;
        flex-direction: column;
        // justify-content: space-evenly;
    }
    &_logout {
        position: absolute;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        bottom: 2%;
        left:50%;
        transform: translate(-50%, -50%);
        font-size: 1rem;
        font-weight: 400;
        color: lightgrey;
        &_icon{
            margin-right:0.5rem;
        }

    }
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    // margin-top:1rem;
}
.center_box {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding:0.5rem;
    cursor: pointer;
    &:hover {
        background-color: rgb(224, 228, 243);
    }
}
.selectedLink {
    background-color: rgb(224, 228, 243);
}