
#root {
    height: 100%;
}
.nav {
    @media only screen 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2) { 
            position: absolute;
            z-index: 1;
            width: 100%;
            animation: leftToRight 0.3s ease-in-out;
            
            &_hidden {
                // animation: rightToLeft 0.3s ease-in-out;
                // left:-100%;
                // bottom: -100%;
                display: none;
            }
    }
    @media only screen 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2) { 
            position: absolute;
            z-index: 1;
            width: 100%;
            animation: leftToRight 0.3s ease-in-out;
            
            &_hidden {
                // animation: rightToLeft 0.3s ease-in-out;
                // left:-100%;
                // bottom: -100%;
                display: none;
            }
    }
    position:relative;
    display: flex;
    flex-direction: column;
    min-width:11rem;

    font-size: 1rem;
    font-weight: 400;
    background-color: rgb(81, 106, 187);
    height: 100%;
    color: #e2e0e0;
    padding-top:2rem;

    &_icon {
        &:hover {
            background-color: none;
        }
    }

    &_links{
        height:20rem;
        display: flex;
        flex-direction: column;
        @media only screen 
        and (max-device-width: 667px) 
        and (-webkit-min-device-pixel-ratio: 2) { 
            // flex-direction: row;
        }
    //    &_logout{
    //        .icon_text {
    //         margin-left:0px;
    //        }
    //     bottom:0px;
    //     left:50%;
    //     // transform: translateX(-50%);
    //     position: absolute;
            
    //     }
    }
}

a {
    text-decoration: none;
    text-align: left;
    padding:0.5rem;
    margin-bottom: 1.5rem;
    &:hover {
        text-decoration: none;
        background-color: rgb(224, 228, 243);
    }
        color: #ffffff;
        cursor: pointer;
    .icon_text {
        color: #ffffff;
        display: flex;
        margin-left: 50%;
        transform: translateX(-50%);
        @media only screen 
        and (max-device-width: 667px) 
        and (-webkit-min-device-pixel-ratio: 2) { 
            margin-left: 55%;
            transform: translateX(-50%);
            font-size: 1.5rem;

        }
        .icon {
            display: inline-block;
        }
        .text {
            @media only screen 
            and (max-device-width: 667px) 
            and (-webkit-min-device-pixel-ratio: 2) { 
                // display: none
            }
            display: inline-block;
            margin-left: 0.7rem;

        }
    }
}
.selectedLink {
    background-color: rgb(224, 228, 243);
}



//----------------------------------------- PHONES ------------------------------------

@keyframes leftToRight {
        0% {
            left:-100%;
            // bottom: -100%;
            opacity: 0;
        }
        100% {
            left:0rem;
            // bottom: 0rem;
            opacity: 1;
        }
}

@keyframes rightToLeft {
    0% {
        left:0rem;
        bottom: 0rem;
        opacity: 1;
    }
    100% {
        left:-100%;
        bottom: -100%;
        opacity: 1;
    }
}