
#root {
    height: 100%;
}
.nav {
    position:relative;
    display: flex;
    flex-direction: column;
    min-width:11rem;
    font-size: 1rem;
    font-weight: 400;
    background-color: rgb(81, 106, 187);
    height: 100%;
    color: #e2e0e0;
    padding-top:2rem;

    &_icon {
        &:hover {
            background-color: none;
        }
    }

    &_links{
        height:20rem;
        display: flex;
        flex-direction: column;
    }
    &_logout {
        position: absolute;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        bottom: 2%;
        left:50%;
        transform: translate(-50%);
        color: lightgrey;
        &_icon{
            margin-right:0.5rem;
        }
    }
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
        background-color: rgb(224, 228, 243);
    }
}
.center_box {
    color: #ffffff;
    display: flex;
    justify-content: left;
    margin-left:1rem;
    margin-left:2.8rem;
    margin-bottom:1rem;
    cursor: pointer;
    .icon_text {
        .icon {
        }
        .text {
            margin-left: 0.6rem;

        }
    }
    
   
}
.selectedLink {
    background-color: rgb(224, 228, 243);
}